.sliderContainer {
  overflow: hidden;
  width: 100%;
  position:relative;
  scrollbar-width: none;
  padding: 1em;
}


.slide-track {
  display: flex;
  width: fit-content;
  gap: 1rem;
  overflow:hidden;
}

.slide-track img {
  width: 15em;
  margin-top:3rem;
  margin-right: 2rem;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #F2DCC2;
}
